# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store
.sign
tizen/workspace/TatySoundService/inc/settings.h
RotaryTimer
RotaryTimerWeb
SpinningArrow
.CustomProfile
cordova/TatySound/plugins/
cordova/TatySound/platforms/browser
cordova/TatySound/platforms/android/
cordova/TatySound/node_modules
cordova/TatySound/.gradle
*.code-workspace
.vscode
bluemic/Project/BlueNRG1_PER_BlueVoice/build/
