<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://www.wesdec.be/TatySoundWebViewer" version="1.0.0" viewmodes="maximized">
    <tizen:application id="arq901aCcl.TatySoundWebViewer" package="arq901aCcl" required_version="4.0"/>
    <author email="maarten@wesdec.be">Maarten Weyn</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="logo.png"/>
    <license>Apache 2.0</license>
    <name>TatySoundWebViewer</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
    <tizen:profile name="wearable"/>
</widget>
