<?xml version='1.0' encoding='utf-8'?>
<widget id="be.wesdec.tatysound" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TatySound</name>
    <description>
        An communication app for TatySound
    </description>
    <author email="maarten@wesdec.be" href="http://www.uantwerpen.be">
        Maarten Weyn
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />   
        <config-file parent="./" target="app/src/main/AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <!-- <application android:networkSecurityConfig="@xml/network_security_config" /> -->
        </config-file>
        <resource-file src="res/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <edit-config file="TatySound/TatySound-Info.plist" target="NSAppTransportSecurity" mode="merge">
            <dict>
                <key>NSExceptionDomains</key>
                <dict>
                    <key>wesdec.be</key>
                    <dict>
                        <!--Include to allow subdomains-->
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <!--Include to allow HTTP requests-->
                        <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                    </dict>
                </dict>
            </dict>
        </edit-config>

        <config-file platform="ios" target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription"> <string>This app requires Bluetooth to connect to our hardware.</string> </config-file>
        <config-file platform="ios" target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription"> <string>This app requires Bluetooth to connect to our hardware.</string> </config-file>

    </platform>
</widget>
